* {
    box-sizing: border-box;
}

body {
    background: cornsilk;
    color: #522828;
    font-family: Apple, sans-serif;
}

article {
    max-width: 600px;
}

article + article {
    margin-top: 20px;
}

main {
    margin: 0 auto;
    width: 600px;
    max-width: 100%;
    padding: 10px;
}
